# ant

build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# netbeans

**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbbuild/
dist/
nbdist/
.nb-gradle/

# example folder

src/cinemadispenser/example/

# state folder

src/cinemadispenser/state/serializable/
